body {
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: cover;
    font-family: sans-serif;
}

login-box {
    position: absolute;
    top: 50% left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizzing: border-box;
    background: rgba(0,0,0,0.5);
}

user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: calc(-100px/2);
    left: calc(50%, -50px);
    position: absolute;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #753370;
}
.lblusername{
    font-weight:bold;
    color:#fff;

}
